<header>
    <div class="row">
   <div class="col-3"></div> 
   
   
    <nav class="navbar sticky-top navbar-expand-sm col-6 ">
        
        <a class="navbar-brand header-title" href="#">KinéBis</a>
        
        <i class="fa fa-search"></i>
        <input id="searchbar"  type="text" name="search" placeholder="Rechercher un film">
        

        <button *ngIf="!isConnected()" type="button" class="btn btn-default" routerLink="/connexion">connexion</button>
        <button *ngIf="isConnected()" type="button" class="btn btn-default" routerLink="" (click)="disconnect()">déconnexion</button>
        
        <p *ngIf="isConnected()"> {{ getUsername() }}</p>
      </nav>
    </div>
    <div class="col-3"></div> 
</header>



