

img{
    height: 259px;
    width: 173px;
}
.films{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80%;
    //max-width: 1300px;
    margin-top: 70px;
    /* background: crimson; */

   
}

.movie-container{
    height: 420px;
    margin-right: 30px;
}
.movie-title{
    width: 173px;
    height: 58px;
    background-color: #ED8366;
    color: #4C5464;
    text-align: center;
    margin-bottom: 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

}