

    <div class="card">
        <form [formGroup]="sessionForm" (ngSubmit)="onSubmit()" class="form px-4 pt-3">
            <div>
                <label for="movie-select">Choisir un film:</label>
                <select name="movie" id="movie-select" formControlName="refMovie"> 
                    <option value="{{movie.ref}}" *ngFor="let movie of listMovie" >{{movie.title}}</option>
                </select>
            </div>
    
            <div>
                <label for="cinema-select">Choisir un Cinema:</label>
                <select name="cinema" id="cinema-select" formControlName="refTheater" (change)="onChange($event.target)" >
                        <option value="{{cinema.ref}}" *ngFor="let cinema of listCinema" >{{cinema.name}}</option>
                </select>
            </div>

            <div>
                <label for="room-select">Choisir une salle:</label>
                <select name="room" id="room-select" formControlName="refRoom" >
                    <option value="{{room.ref}}" *ngFor="let room of listRoomByTheater">Salle {{room.number}}</option>
                </select>
            </div>
            <div >
                <input type="datetime-local" placeholder="Date" formControlName="date" class="form-control">
            </div>

            <button type="submit" class="btn btn-dark btn-block">Afficher la recherche</button>
        </form>
        </div>
    
    
    